<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4 mt-5">
                <img src="/static/logo_felice XXI.jpg" alt="Logo" class="img-fluid d-block mx-auto">
                {{msg}}
                <form method="POST" action="{{ url_for('change_password') }}">
                    <div class="form-group">
                        <label for="password">Introduzir Nova Password</label>
                        <input type="password" class="form-control" id="changepassword" name="changepassword" placeholder="Nova Password">
                    </div>
                    <button type="submit" class="btn btn-dark">Alterar Password</button>
                </form>
            </div>
        </div>
        <br>
        </br>
    </div>
</body>
</html>
